{{ $title := "Publications" }}
{{ $taxo := "publication" }}
{{ $author_name := index .person.authors 0 }}

{{ with .context.root.Site.GetPage "/publication" }}
{{ $pages := slice }}
{{ range $row := .Pages }}
{{ $authors := apply $row.Params.authors "urlize" "." }}
{{ if in $authors $author_name }}
{{ $pages = $pages | append $row }}
{{ end }}
{{ end }}

{{ if gt (len $pages) 0 }}
<div class="margin-auto">
    <div class="center-text mb-3">
        <h2 id="publications">{{ $title }}</h2>
    </div>

    <div class="col-lg-12">

        {{/* Array of distinct years. */}}
        {{ range $pages }}
        {{ $year := print (.Date.Format "2006") }}
        {{ .Scratch.SetInMap "years" $year $year }}
        {{ end }}

        <div class="form-row mb-4 justify-center">
            <div class="col-auto">
                <input type="text" class="filter-search form-control form-control-sm"
                    placeholder="{{ i18n "search_placeholder" }}" autocapitalize="off" autocomplete="off"
                    autocorrect="off" role="textbox" spellcheck="false">
            </div>
            <div class="col-auto">
                <select class="pub-filters pubtype-select form-control form-control-sm" data-filter-group="pubtype">
                    <option value="*">{{ i18n "publication_type" }}</option>
                    {{ $pub_types := partial "functions/get_pub_types" $ }}
                    {{ range $index, $taxonomy := site.Taxonomies.publication_types }}
                    <option value=".pubtype-{{ (int $index) }}">
                        {{ index $pub_types (int $index) }}
                    </option>
                    {{ end }}
                </select>
            </div>
            <div class="col-auto">
                <select class="pub-filters form-control form-control-sm" data-filter-group="year">
                    <option value="*">{{ i18n "date" }}</option>
                    {{ $years_sorted := .Scratch.GetSortedMapValues "years" }}
                    {{ if $years_sorted }}
                    {{ range $year := sort $years_sorted "" "desc" }}
                    <option value=".year-{{ $year }}">
                        {{ $year }}
                    </option>
                    {{ end }}
                    {{ end }}
                </select>
            </div>
        </div>

        <div id="container-publications">
            {{ range $pages }}

            {{ if .Params.publication_types }}
            {{ .Scratch.Set "pubtype" (index .Params.publication_types 0) }}
            {{ else }}
            {{ .Scratch.Set "pubtype" 0 }}
            {{ end }}

            <div
                class="grid-sizer col-lg-12 isotope-item pubtype-{{ .Scratch.Get "pubtype" }} year-{{ .Date.Format "2006" }}">
                {{ partial "li_citation" . }}
            </div>

            {{ end }}
        </div>
    </div>
</div>
{{ end }}
{{ end }}