{{/* Portfolio Widget */}}

{{/* Initialise */}}
{{ $author_name := index .person.authors 0 }}
{{ with .context }}

{{ $ := .root }}
{{ $st := .page }}
{{ $items_type := $st.Params.content.page_type | default "project" }}
{{ $columns := $st.Params.design.columns | default "1" }}
{{ $title := "Projects" }}
{{ $filter_button := slice (dict "name" "Ongoing" "tag" "Ongoing") (dict "name" "Finished" "tag" "Finished") (dict "name" "All" "tag" "*") }}
{{ $items := where site.RegularPages "Type" $items_type }}
{{ $scratch := newScratch }}

{{ $scratch.Set "count_ongoing" 0 }}

{{ $rows := slice }}
{{ range $row := $items }}
{{ $authors := apply $row.Params.authors "urlize" "." }}
{{ if in $authors $author_name }}
{{ $rows = $rows | append $row }}
{{ if in $row.Params.tags "Ongoing" }}
{{ $scratch.Add "count_ongoing" 1 }}
{{ end }}
{{ end }}
{{ end }}

{{ $count_ongoing := $scratch.Get "count_ongoing" }}

{{ if gt (len $rows) 0 }}
<div class="margin-auto">
    <div class="center-text mb-3">
        <h2 id="projects">{{ $title }}</h2>
    </div>

    <div>
        {{ if $filter_button }}

        {{ $scratch.Set "filter_default" 0 }}

        {{ if eq $count_ongoing 0 }}
            {{ $scratch.Add "filter_default" 1 }}
        {{ end }}

        {{ $filter_default := $scratch.Get "filter_default" }}

        {{/* Parse default filter tag from front matter in the form of either tag name or CSS class name. */}}
        {{ $default_filter_tag_raw := (index $filter_button ($filter_default)).tag }}
        {{ $default_filter_tag := printf ".js-id-%s" (replace $default_filter_tag_raw " " "-") }}
        {{ if or (eq (substr $default_filter_tag_raw 0 1) "*") (eq (substr $default_filter_tag_raw 0 1) ".") }}
        {{ $default_filter_tag = $default_filter_tag_raw }}
        {{ end }}

        <span class="d-none default-project-filter">{{ $default_filter_tag }}</span>

        {{/* Only show filter buttons if there are multiple filters. */}}
        {{ if gt (len $filter_button) 1 }}
        <div class="project-toolbar">
            <div class="project-filters">
                <div class="btn-toolbar">
                    <div class="btn-group flex-wrap">
                        {{ range $idx, $item := $filter_button }}
                        {{/* Parse filter tag from front matter in the form of either tag name or CSS class name. */}}
                        {{ $data_filter := printf ".js-id-%s" (replace .tag " " "-") }}
                        {{ if or (eq (substr .tag 0 1) "*") (eq (substr .tag 0 1) ".") }}
                        {{ $data_filter = .tag }}
                        {{ end }}
                        <a href="#" data-filter="{{ $data_filter | safeHTMLAttr }}"
                            class="btn btn-primary btn-lg{{ if eq $idx $filter_default }} active{{ end }}">{{ .name }}</a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
        {{ end }}

        <div
            class="justify-evenly{{ if or $filter_button (eq $st.Params.design.view 3) }}isotope projects-container{{end}} {{if eq $st.Params.design.view 3}}js-layout-masonry{{else}}row js-layout-row{{end}} {{ if eq $st.Params.design.view 5 }}project-showcase mt-5{{end}}">
            {{ range $idx, $item := $rows }}

            {{ $authors := $item.Param "authors" }}
            {{ $authors := apply $authors "urlize" "." }}
            {{ $link := $item.RelPermalink }}
            {{ $target := "" }}
            {{ if $item.Params.external_link }}
            {{ $link = $item.Params.external_link }}
            {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
            {{ end }}

            {{ if in $authors $author_name }}
            {{ partial "portfolio_li_card" (dict "widget" $st "index" $idx "item" $item "link" $link "target" $target) }}
            {{ end }}
            {{ end }}
        </div>

    </div>
</div>
{{ end }}
{{ end }}